.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.barber-logo {
  width: 120px;
  height: auto;
  display: block;

  filter:
    drop-shadow(0 8px 14px rgba(0,0,0,.6));

  transition: transform .3s ease;
}

.barber-logo:hover {
  transform: scale(1.04);
}

@media (max-width: 500px) {
  .barber-logo {
    width: 100px;
  }
}
