.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.barber-logo {
  width: 100%;
  max-width: 330px;
  height: auto;
  display: block;

  filter:
    drop-shadow(0 15px 25px rgba(0,0,0,.65))
    drop-shadow(0 0 15px rgba(255,255,255,.05));

  transition: transform .3s ease;
}

.barber-logo:hover {
  transform: scale(1.025);
}

@media (max-width: 500px) {
  .barber-logo {
    max-width: 285px;
  }
}
